[Unit]
Description=Bazel BuildBarn Worker
After=network-online.target

[Service]
Environment="LC_ALL=C.UTF-8"
ExecStart={{ bazel_buildbarn_install_path }}/{{ bbb_component }} {{ bbb_worker_execution_parameters }}
User=root
LimitNOFILE=49152

[Install]
WantedBy=multi-user.target
